@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Ubuntu", sans-serif;
}

.address-card::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 6px;
  background-color: #ff7e07;
}

.mapboxgl-popup-close-button {
  padding: 5px;
  font-size: 20px;
}
